<div class="mt-4">
  <form>
    <div class="mb-3">
      <label for="search" class="form-label">Từ Khóa</label>
      <input
        type="text"
        class="form-control mb-4"
        id="search-input"
        name="search"
        placeholder="Nhập từ khóa"
      />
   
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>