<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video ID</label>
      <input type="text" class="form-control" name="videoId" id="videoId" />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ</label>
      <input type="text" class="form-control" name="level" id="level" />
    </div>
    <button type="submit" class="btn btn-primary mb-4">Thêm khóa học</button>
  </form>
</div>